*{
    margin: 0%;
    padding: 0%;
    
}
html{
    scroll-behavior: smooth;
}

 .appa{
     width: 100%;
     height: 60vh;
     padding-top: 29px;
     background-image:url(background.jpg);
     background-size: cover;
     background-position: center;
    
    }



.reg {
      margin: 0%;
      text-align: center;
      text-decoration:none;
      color: black;
      text-align: center;
      font-size: 25px;
  }  

.tess ul {
    
    margin: 0%;
    padding: 15px;
    justify-content: space-between;
    text-align: right;
    background-color: rgb(245, 80, 3);
    
   
   
  }

.tess ul li{
    margin: 40px;
    font-size: 120%;
    padding: 10px;
    list-style:none;
    display: inline-block;
    margin: 0%;
    position:relative;
   
}
.tess ul li a{
    text-decoration: solid;
    color: rgb(0, 0, 0);
    text-transform: uppercase;

}
.tess ul li::after{
     content: '';
     height: 3px;
     width: 0%;
     background:#070707b4;
     position: absolute;
     left: 0px;
     bottom: 0%;
     transition: 0.5s;
}
.tess ul li:hover:after{
    width: 100%;

}
button{
    width: 30%;
    padding: 15px;
    margin: 20px;
    background: transparent;
    font-size: 40px;
    border-radius: 29px;
    border: 2px solid #096a88b4;
    font-weight: bold;
    color: black;
    cursor: pointer;
    position: relative;
    transition: 0.5s;

}
button:hover{
    color: rgb(0, 255, 42);
    
}
.About{
    margin: 20px;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(10, 10, 10);
}

.About h2{
    margin:10px;
    padding-bottom: 20px;
    font-size: 250%;
    font-weight: bold;
    text-align: center;
    position: relative;
    color: cornsilk;
    
}
.About p{
    padding: 20px;
    color: cornsilk;
    text-align: center;
}
.GUESt{
    margin: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}
.GUESt h1{
    margin: 20px;
    padding-top: 50px;
    padding: 50px;
    font-size: 200%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(10, 128, 116);
    
}
.GUESt tr {
    margin: 20px;
    padding: 20px;
}
.GUESt tr th{
    margin: 10px 100px;
    padding: 10px 100px;
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
    color: rgb(4, 185, 185);
    
}
.GUESt tr td{
    margin: 10px 100px;
    padding: 10px 100px;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(10, 10, 10); 
    text-align: center;
    font-weight: bold;
}
.Register{
    margin: 20px;
    padding: 20px;
    background-color: whi;
}

.Register h2{
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: 200%;
    color: rgb(10, 128, 116);
    
}
.Register p{
    padding: 10px ;
    text-align: center;
    font-size: 120%;
}
 .contact{
     margin: 20px;
     padding: 20px;
     background-color: rgb(187, 236, 231);
 }

 .contact table{
     margin: 0px;
     padding: 0px;

}
.contact h2{
    text-align: justify;
}

.contact table th{
     margin: 10px 100px;
     padding: 10px 100px;
     text-align: center;
     font-size: 120%;
}
.contact tr td{
    margin: 10px 100px;
    padding: 10px 100px;
    font-size: 120%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;

}

.events{
    margin: 20px;

}

.events h1{
    text-align: center;
    color: aqua;
    font-size: 200%;
}

.sample h4{
    text-align: center;
}
